*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #faf9f7;
    color: #222;
}
a {
    text-decoration: none;
    color: #222;

}
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #faf5f3;
    border-bottom: 1px solid #eeeeee;

}
.logo {
    font-size: 36px;
    font-weight: bold;
    color: #a8440b;
}
.nav-links {
    display: flex;
    gap: 34px;
}
.nav-links a {
    font-size: 15px;
    padding: 8px 0;
}
.nav-links .active {
    color: #a8440b;
    border-bottom: 2px solid #a8440b;
}
.nav-icons {
    display: flex;
    gap: 18px;
    font-size: 20px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding:  52px 50px 75px;

}
.hero-text {
    width: 48%;

}
.hero-text h1{
    margin: 0 0 22px;
    font-size: 42px;
    line-height:1.12;
    font-weight: 600;
}
.hero-text p{
    max-width: 520px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #594942;
}
.main-button {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 28px;
    background-color: #a8440b;
    color: white;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
}
.hero-image{
    width: 48%;
}
.hero-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.featured{
    padding: 0 50px 50px;
}
.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

}
.section-heading h2 {
    margin: 0;
    font-size: 28px;

}
.section-heading a {
    color: #a8440b;
    font-size: 14px;
}
.Work {
    display: flex;
    gap: 14px;
}
.Work-card,
.work-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.big-card {
    width: 68%;
    height: 335px;
}
.big-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-cards {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.small-card {
    width: 100%;
    height: 160px;
}
.small-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big-card::after,
.small-card::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 60%;

    background: linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.65)
    );
}

.card-content {
    position: absolute;
    z-index: 2;

    left: 20px;
    bottom: 18px;

    color: white;
}

.card-content h3 {
    margin: 8px 0 5px;
    font-size: 20px;
    font-weight: normal;
    color: white;
}

.card-content p {
    margin: 0;
    font-size: 13px;
    color: white;
}
.tags {
    display: flex;
    gap: 7px;
}

.orange-tag {
    background-color: #a8440b;
    color: white;
    padding: 5px 9px;
    border-radius: 12px;
    font-size: 11px;
}

.gray-tag {
    background-color: #777;
    color: white;
    padding: 5px 9px;
    border-radius: 12px;
    font-size: 11px;
}
.cta {
    margin: 50px;
    padding: 55px 20px;
    text-align: center;
    background-color: #eeecea;
    border-radius: 10px;
}

.cta h2 {
    margin: 0 0 12px;
    font-size: 23px;
    font-weight: normal;
}

.cta p {
    margin: 0;
    color: #594942;
    font-size: 14px;
    line-height: 1.5;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 13px 25px;
    background-color: #a47700;
    color: #111;
    border-radius: 25px;
    font-size: 13px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 50px;
    background-color: #f1efed;
}

.footer-logo {
    font-size: 21px;
    color: #a8440b;
}

.footer-links {
    display: flex;
    gap: 25px;
}

.footer-links a {
    color: #493d38;
    font-size: 13px;
}

.footer p {
    margin: 0;
    font-size: 11px;
    color: #493d38;
}
@media (max-width: 768px) {

    .navbar {
        padding: 15px 20px;
    }

    .logo {
        font-size: 25px;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 12px;
    }

    .hero {
        flex-direction: column;
        padding: 35px 20px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-image {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 34px;
    }

    .hero-image img {
        height: 280px;
    }

    .featured {
        padding: 20px;
    }

    .Work {
        flex-direction: column;
    }

    .big-card {
        width: 100%;
    }

    .right-cards {
        width: 100%;
    }

    .small-card {
        width: 100%;
    }

    .cta {
        margin: 30px 20px;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

